:root {
    --vermelho:#E50914;
    --preta:#141414;
}


/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;                                 /* FLEXBOX (JOGA TUDO PARA LINHA) */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;                /* DISTANCIA/ESPAÇO */
}

header .logo {
    color: var(--vermelho);
    font-family: 'Amatic SC', cursive;
    font-size:52px;
    letter-spacing: 0.1rem;
}

header nav a {
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover {
    color:#fff;
}

/* filme principal */
.filme-principal {
    font-size:16px; 
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/capa-house.jpg);
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}