:root {
    --vermelho:#E50914;
    --preta:#141414;
}


/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;                    /* alterar a propiedade padrão do box-model, usada para calcular a proporção dela e emular o comportamento dos navegadores. */
}

body {
    background: var(--preta);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header .container {
    display: flex;                                 /* FLEXBOX (JOGA TUDO PARA LINHA) */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;                /* DISTANCIA/ESPAÇO */
}

header .logo {
    width: 80px;
    padding: 10px;
}

header nav a {
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover {
    color:#fff;
}

/* filme principal */
.filme-principal {
    font-size:1rem; 
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/capa-house.jpg) no-repeat;
    
    height: 400px;
    background-size: cover;
    
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
   
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Formatação dos Botões */
.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    
    padding: 15px 30px;  /* Corte de mão - primeiro valor: cima e baixo*/  /* segundo: esquerda direita */
    margin-right: 0.938rem;
    font-size: 0.813rem;
    text-decoration: none;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 0.3rem;
}

.container {
    margin-left: 30px;
}

.filme-principal .container {
    width: 100%;
    max-width: 500px;
}

.box-filmes {
    height: 100%;
    width: 100%;
    display: block;

}


